<div class="noty_body">
    <div class="notif_header">
        <h6 class="notif_header_text">Another customer just purchased:</h6>
    </div>
    <div class="notif_wrap">
        <div class="notif_image">
            <img alt="{{Name}}" src="{{Image}}"/>
        </div>
        <div class="notif_content">
            <div class="notif_title_area">
                <h4 class="notif_title">
                    <a href="{{Link}}">{{Name}}</a>
                </h4>
                <p class="notif_price">{{FixedPrice}}</p>
            </div>
            <div class="notif_description">
                <p>{{Description}}</p>
            </div>
        </div>
    </div>
</div>