<div class="Revere__wrapper snippet" id="RevereWrapperSnippet-{{ItemId}}">
{{!--{{#if Rating}}--}}
        <div class="Revere__snippet-stars"><img src="{{StarSrc}}" alt="{{Rating}} out of 5"></div>
        <div class="Revere__snippet-overall" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="reviewCount" content="{{ReviewCount}}" />
            <meta itemprop="ratingCount" content="{{ReviewCount}}" />
            <meta itemprop="bestRating" content="5" />
            <meta itemprop="worstRating" content="1" />
            <meta itemprop="itemReviewed" itemscope="" itemtype="http://schema.org/Product" />
            <meta itemprop="ratingValue" content="{{Rating}}" />
            <span class="Revere__snippet-description">
                <em>{{Rating}}</em> out of <em>5</em> based on <strong>{{ReviewCountText}}</strong>
            </span>
        </div>
{{!--{{/if}}--}}
    {{#if Likes}}
        <div class="Revere__snippet-likes">
            {{LikeCountText}}
        </div>
    {{/if}}
    {{#if QuestionCount}}
        <div class="Revere__snippet-likes">
            {{QuestionAnswerText}}
        </div>
    {{/if}}
</div>