<div class="Revere__wrapper write" id="RevereWrapperWrite-{{ItemId}}">
    <div class="Revere__forms Revere__hidden" id="RevereWriteReviewForm-{{ItemId}}">
        <h3 class="Revere__item-title">
            Write A Review{{#if Name}} for <span>&ldquo;{{{Name}}}&rdquo;</span>{{/if}}
        </h3>
        <div class="Revere__explanation" id="RevereExplanation-{{ItemId}}">
            <p>
                To see your review featured on our website:
            </p>
            <ul>
                <li>Use the product before reviewing it</li>
                <li>Focus on the product's features and be specific</li>
                <li>
                    Avoid
                    <ul class="Revere__sub-list">
                        <li>info that changes, such as price and promotional details</li>
                        <li>inappropriate language and attitude</li>
                        <li>info about other companies and websites</li>
                        <li>personal info &mdash; we want to protect your privacy!</li>
                    </ul>
                </li>
                <li>If you write review text, it should be at least 50 characters, otherwise your ratings may not count.</li>
            </ul>
        </div>
        <div class="Revere__forms Revere__about-you">
            <fieldset class="Revere__fieldset Revere__personal">
                <input type="hidden" id="RevereUserId-{{ItemId}}" data-reverefield="userid" value="{{UserId}}" />
                <legend>About You</legend>
                <div class="Revere__review-field Revere__required" id="RevereNicknameGroup-{{ItemId}}" data-fieldname="Nickname">
                    <label class="Revere__label" for="RevereTextNickname-{{ItemId}}">
                        Name:<span class="error">* required field</span>
                        <input type="text" class="Revere__text Revere__text-nickname" id="RevereTextNickname-{{ItemId}}"
                               data-reverefield="nickname" />
                    </label>
                </div>
                <div class="Revere__review-field {{#if EmailRequired}}Revere__required{{/if}}" id="RevereEmailGroup-{{ItemId}}" data-fieldname="Email">
                    <label class="Revere__label" for="RevereTextEmail-{{ItemId}}">
                        Email:<span class="error">* {{#if EmailRequired}}required field.{{/if}} you must enter a valid email address</span>
                        <input type="text" class="Revere__text Revere__text-email" id="RevereTextEmail-{{ItemId}}" data-reverefield="email" />
                    </label>
                </div>
                <div class="Revere__review-field" data-fieldname="Location">
                    <label class="Revere__label" for="RevereTextLocation-{{ItemId}}">
                        Location:
                        <input type="text" class="Revere__text Revere__text-location" id="RevereTextLocation-{{ItemId}}" data-reverefield="location" />
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="Revere__forms">
            <fieldset class="Revere__fieldset Revere__ratings">
                <legend>Your Review</legend>
                <div class="Revere__review-field" id="RevereReviewTitleGroup-{{ItemId}}" data-fieldname="Title">
                    <label class="Revere__label" for="RevereTextReviewTitle-{{ItemId}}">headline:
                        <input type="text" class="Revere__text Revere__text-title" id="RevereTextReviewTitle-{{ItemId}}"
                               data-reverefield="title" />
                    </label>
                </div>
                {{#if ReviewType.ShowStarRating}}
                    <div class="Revere__overall-group" id="RevereOverallGroup-{{ItemId}}">
                        <label for="RevereOverallHidden-{{ItemId}}">Overall Rating:</label>
                        <div id="RevereOverall-{{ItemId}}" class="Revere__review-field Revere__overall Revere__required" data-fieldname="Overall">
                            <span class="error">* required field</span>
                            <input type="hidden" id="RevereOverallHidden-{{ItemId}}" value="" />
                        </div>
                    </div>
                {{/if}}
                {{#if ReviewType.CustomRatings}}
                    <div class="Revere__forms Revere__custom-ratings" id="RevereCustomRatings-{{ItemId}}">
                        {{#each ReviewType.CustomRatings}}
                            <p>{{Name}}</p>
                            <div class="Revere__review-field Revere__custom-rating Revere__custom-rating-{{Id}}"
                                 id="RevereCustomRatingsGroup-{{../ItemId}}-{{Id}}">
                                {{#if IsSlider}}
                                    <div class="Revere__range-form-group Revere__custom-rating">
                                        {{#each OptionList}}
                                            <label for="RevereRange-{{../../ItemId}}-{{../Id}}" class="Revere__range-label">
                                                {{Value}}
                                            </label>
                                        {{/each}}
                                        <input type="range" name="RevereCustomRating-{{../ItemId}}-{{Id}}" id="RevereRange-{{../ItemId}}-{{Id}}" min="1" max="5" />
                                    </div>
                                {{/if}}
                                {{#if IsCheckBox}}
                                    <div class="Revere__review-field Revere__checkbox-form-group">
                                        {{#each OptionList}}
                                            <label class="Revere__checkbox" for="RevereCheckbox-{{PropertyName}}-{{../../ItemId}}-{{../Id}}">
                                                <input type="checkbox" id="RevereCheckbox-{{PropertyName}}-{{../../ItemId}}-{{../Id}}" name="RevereCustomRating-{{../../ItemId}}-{{../Id}}" value="{{Value}}" /> {{Value}}
                                            </label>
                                        {{/each}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
                <div class="Revere__forms Revere__review-content">
                    <div class="Revere__review-field {{#unless AllowRatingsWithoutReview}}Revere__required{{/unless}}" id="RevereReviewGroup-{{ItemId}}" data-fieldname="Review">
                        <label class="Revere__label" for="RevereTextGeneral-{{ItemId}}">
                            Review Text: {{#unless AllowRatingsWithoutReview}}<span class="error">* required field</span>{{/unless}}
                            <textarea class="Revere__textarea" rows="8" id="RevereTextGeneral-{{ItemId}}"></textarea>
                        </label>

                    </div>
                    {{#if AllowImages}}
                        <div class="Revere__forms Revere__review-media">
                            <div class="Revere__review-field" id="RevereUserMedia-{{ItemId}}" data-fieldname="Media">
                                <div class="Revere__media-input-wrapper">
                                    <label class="Revere__label" for="RevereWriteFileMedia-{{ItemId}}">your photo:</label>
                                    <input id="RevereWriteFileMedia-{{ItemId}}" type="file" class="Revere__file" data-reverefield="media" />
                                </div>
                                <div class="Revere__uploaded-media">
                                    <img src="" alt="uploaded media" id="RevereWriteUploadedMedia-{{ItemId}}" />
                                    <a href="javascript: void(0);" class="Revere__remove-media" id="RevereWriteRemoveMedia-{{ItemId}}">X</a>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    <div class="Revere__forms Revere__facebook">
                        <div class="Revere__review-field Revere__checkbox-form-group">
                            <label for="RevereCheckboxFacebook-{{ItemId}}" class="Revere__checkbox Revere__Facebook-check">
                                <input type="checkbox" id="RevereCheckboxFacebook-{{ItemId}}" />
                                <img src="{{FBIcon}}" alt="facebook">
                                <span>post my review to facebook</span>
                            </label>
                        </div>
                    </div>
                    <div class="Revere__form-actions ">
                        <div class="Revere__loading" id="RevereWriteLoading-{{ItemId}}"></div>
                        <button class="Revere__btn-primary Revere__btn-write-submit" id="RevereButtonWriteSubmit-{{ItemId}}">Submit</button>
                        <button class="Revere__btn-default Revere__btn-write-cancel" id="RevereButtonWriteCancel-{{ItemId}}" onclick="document.getElementById('RevereWriteReviewForm-{{ItemId}}') && document.getElementById('RevereWriteReviewForm-{{ItemId}}').className.indexOf('Revere__hidden') < 0 ? document.getElementById('RevereWriteReviewForm-{{ItemId}}').className+= ' Revere__hidden' : void(0)">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>